/*

File: style.css

Authors: Carl-Henrik Ytterfelt Martinsson, Hans-Eskil Ytterfelt Martinsson, Markus Eriksson

This css sheet is the main styling of the index file and thus the main page

Requires the following files:
main.js

*/



/* ELEMENT DEFINITIONS */

/* Basic CSS styling to make it aestethically pleasing */
* {
  margin: 0;
  padding: 0;
}
html {  
  overflow-x:hidden;
}

header {
  background-color: #e84d74;
  text-align: center;
  padding: 4vh;
}

footer {
  background-color: #e84d74;
  text-align: center;
  bottom: 0px;
  width: 100%;
}

/* Making the background of SVG ocean color  */
svg {
  background-color: #7fcdff !important;
}

/* CLASS DEFINITIONS */
/* Makes the infopanels not overflow (Now infopanels positions based on svg container and not the entire body) */
.svg-container {
  position: relative;
}

/* Makes the headers links appear properly */
.länk {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 5px;

}

.battle-button {
  fill: red;
  cursor: pointer;
}

.battle-button:hover {
  fill: green;
}

.marker {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 150%;
}

.hidden {
  display: none;
}

/* Defines how the artillery explosion animation behaves, 
animation for dirtblast keyframe means that we use the dirtblast keyframe controlling the opacity and radius of the circles
and cubic bezier(X1, Y1, X2, Y2) means how fast the animation behaves at start and finish, 
With these settings we get that it starts slower with a delayed response but then quickly accelerate towards the end
thus creating a more realistic artillery explosion.
*/
.explosion-particle {
  fill: #4e3e2c; 
  opacity: .01;
  animation: dirtBlast 1.5s cubic-bezier(0.8, 0, 0.3, 1) backwards
}

.tooltip {
  position: absolute;
  top: 10%;           
  left: 50%;           
  bottom: 20%;        
  width: 20%;
  height: 25%;
  background-color: #ffffff;
  padding: 1rem;
  overflow-y: auto;
  border: 10px solid #ff000d;
}

.flashing-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: flash 1s infinite;
}

/* ID DEFINITIONS */

/* Overrides the SVG:s color definitions with !important and colors italy and germany as grey*/
#German_Reich, 
#Kingdom_of_Italy
{
  fill: #4B4B4B !important;
}

/* Same premise here but with blue*/
#French_Republic,
#Republic_of_Poland,
#United_Kingdom
{
  fill: #000080 !important;
}

/* Mekes the svg file take up the whole screen*/
#wrapper {
  width: 100%;
  height: 100%;
}

/* How infopanel appear
This styling is very important for the scaling of smaller devices
By using % we dont have to make a separate styling for smaller devices
however a TODO if we had more time is to create a dedicated css style for smaller devices 
but this works but could have a more dedicated design

Overflow Y makes it scrollable if more text than space
*/
#infoPanel {
  position: absolute;
  top: 35%;           
  left: 5%;           
  width: 32%;
  padding: 1%;
  bottom: 7%;
  font-size: 2vh;
  background-color: #ffffffee;
  overflow-y: auto;
  border: 2vh solid #ff000d;
}

#spriteanim {
  position: absolute;
  top: 50%;           
  left: 57%;           
  bottom: 20%;        
  width: 20%;
  height: 25%;
  background-color: #ffffff;
  padding: 1rem;
  overflow-y: auto;
  border: 20px solid #ff000d;
  
}

/* potential other spriteanim
#spriteanim {
  position: absolute;
  top: 35%;           
  right: 5%;           
  width: 32%;
  padding: 1%;
  bottom: 1%;
  font-size: 2vh;
  background-color: #ffffffee;
  overflow-y: auto;
  border: 2vh solid #ff000d;
  
}
*/

/* KEYFRAMES DEFINITIONS */

/* Changes the radius and opacity of dirtblast circles based on what timeframe the animation is in
Final keyframe 100% makes the circles actually move outwards thus actually flying away and then dissapear 
*/
@keyframes dirtBlast {
  0% {
    r: 0;
    opacity: 1;
  }
  40% {
    r: 4;
    opacity: 0.8;
  }
  80% {
    r: 2;
    opacity: 0.5;
  }
  100% {
    transform: translate(var(--dx), var(--dy));
    r: 1;
    opacity: 0;
  }
}

@keyframes flash {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* MEDIA DEFINITIONS*/

/* force different font size of tutorial marker on smaller screen sizes */
@media (max-width: 480px) {
  #marker {
    font-size: 50%;
  }
}

/*
END of file style.css
*/
