* {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e84d74;
  text-align: center;
  padding: 4vh;
}

svg {
  background-color: #7fcdff !important;
}

#German_Reich, 
#Kingdom_of_Italy
{
  fill: #4B4B4B !important;
}

#French_Republic,
#Republic_of_Poland,
#United_Kingdom
{
  fill: #000080 !important;
}

.svg-container {
  flex-grow: 1;
  width: 100%;
  height: 100%;
  position: relative;
}

#wrapper {
  width: 100%;
  height: 100%;
  display: block;
}

.länk {
  list-style: none;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 5px;
}

.battle-button {
  fill: red;
  cursor: pointer;
}

.battle-button:hover {
  fill: green;
}

#infoPanel {
  position: absolute;
  top: 35%;           
  left: 5%;           
  width: 32%;
  padding: 1%;
  bottom: 1%;
  font-size: 2vh;
  background-color: #ffffffee;
  overflow-y: auto;
  border: 2vh solid #ff000d;
}

#spriteanim {
  position: absolute;
  top: 50vh;           
  left: 57vw;           
  bottom: 20vh;        
  width: 20vw;
  height: 25vw;
  background-color: #ffffff;
  padding: 1rem;
  overflow-y: auto;
  border: 20px solid #ff000d;
  
}

/* potential other spriteanim
#spriteanim {
  position: absolute;
  top: 35%;           
  right: 5%;           
  width: 32%;
  padding: 1%;
  bottom: 1%;
  font-size: 2vh;
  background-color: #ffffffee;
  overflow-y: auto;
  border: 2vh solid #ff000d;
  
}
*/

.hidden {
  display: none;
}

.explosion-particle {
  fill: #4e3e2c; 
  opacity: .01;
  animation: dirtBlast 1.5s cubic-bezier(0.8, 0, 0.3, 1) backwards
}

@keyframes dirtBlast {
  0% {
    r: 0;
    opacity: 1;
  }
  40% {
    r: 4;
    opacity: 0.8;
  }
  80% {
    r: 2;
    opacity: 0.5;
  }
  100% {
    transform: translate(var(--dx), var(--dy));
    r: 1;
    opacity: 0;
  }
}

footer {
  background-color: #e84d74;
  text-align: center;
  padding: 20px;
  bottom: 0px;
  width: 100%;
}
